<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Bloggie</title>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <h1>Bloggie - where every creative blogs</h1>

    <nav>
        <ul>
            <li>Home</li>
            <li>Login</li>
            <li>About</li>
        </ul>
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer>Bloggie 2020</footer>

</body>

</html>